<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>Atividade1</display-name>
	<servlet>
		<servlet-name>RetornaNome</servlet-name>
		<display-name>RetornaNome</display-name>
		<description></description>
	</servlet>
	<servlet>
		<servlet-name>RecebeNome</servlet-name>
		<display-name>RecebeNome</display-name>
		<description></description>
		<servlet-class>RecebeNome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetornaNome</servlet-name>
		<url-pattern>/RetornaNome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecebeNome</servlet-name>
		<url-pattern>/RecebeNome</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
